* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.layout {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

.header {
    height: 7.7rem;
    background-color: blue;
}

.header-logo {
    display: inline-block;
    height: 100%;
    width: 20rem;
    padding: 0.5rem 0;
    text-align: center;
    overflow: hidden;
}

.logo {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 2.1rem 0;
    font-size: 2.5rem;
}

.header-navbar {
    display: inline-block;
    padding: 0.5rem 0;
    height: 100%;
    width: calc(100% - 20.3rem);
    overflow: hidden;
}
.header-navbar_navitems {
    height: 100%;
    width: 100%;
}

.header-navbar_navitems_list {
    list-style: none;
    text-align: right;
    height: 100%;
}

.header-navbar_navitems_list li {
    display: inline-block;
    font-size: 2rem;
    margin-right: 1.5rem;
    line-height: 6.5rem;
}

.header-navbar_navitems_list li a {
    text-decoration: none;
    color: white;
}

.main {
    height: calc(100% - 12.7rem);
    background-color: violet;
}

.main-sidebar {
    display: inline-block;
    padding: 1.5rem 1.5rem;
    height: 100%;
    width: 20rem;
    background-color: rgb(136, 63, 136);
    overflow: hidden;
}

.main-sidebar_list {
    list-style: none;
    text-align: center;
    height: 100%;
    width: 100%;
}

.main-sidebar_list li {
    margin: 75% 0;
    font-size: 2rem;
}

.main-sidebar_list li a {
    text-decoration: none;
    color: white;
}

.main-content {
    display: inline-block;
    height: 100%;
    width: calc(100% - 20.3rem);
}

.footer {
    height: 5rem;
    background-color: rgb(21, 110, 43);
    overflow: hidden;
}

.social-media {
    display: inline-block;
    height: 100%;
    width: 20rem;
    padding: 1rem 0.5rem;
}

.social-media_icon {
    display: inline-block;
    height: 100%;
    width: 3rem;
}

.icon_facebook {
    height: 100%;
    width: 100%;
    background-color: blue;
}

.icon_instagram {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #FCAF45, #F56040, #C13584, #833AB4);
    margin-inline: 5rem;

}

.icon_x {
    height: 100%;
    width: 100%;
    background-color: black;
    margin-left: 9.5rem;
}

.footer-content {
    display: inline-block;
    height: 100%;
    width: calc(100% - 20.3rem);
    padding: 1rem 0.5rem;
    text-align: right;
    font-size: 2rem;
}